@import "../include/leftSide.css";

/* ===== Exam Bank ===== */
.examBank {
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    /* background-color: blue; */
}

.examHeader {
    padding-top: 4vh;
    text-align: center;
}

.examRow {
    display: flex;
    flex-direction: row;
}

.listElement {
    padding-top: 3vh;
    width: 20%;
}

.checkBoxElement {
    position: absolute;
    width: 2%;
}

#examsTitle {
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 1vh;
    height: 5%;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.labels {
    margin-top: 2vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.labels ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
}

#question {
    width: 30%;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.labels ul li {
    min-width: 15%;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.examButtons {
    padding-top: 4vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#submitButton, #backButton {
    width: 40%;
    height: 4vh;
    background-color: rgb(26, 235, 182);
    border: none;
    font-size: 1.25rem;
    font-weight: 300;
}

#backButton2 {
    width: 40%;
    height: 4vh;
    background-color: rgb(26, 235, 182);
    border: none;
    font-size: 1.25rem;
    font-weight: 300;
}

.question {
    width: 30%;
    height: 15%;
    resize: none;
}



.normalElement {
    width: 15%;
}