* {
    margin: 0vh;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

body {
    text-align: center;
}

form {
    margin-top: 10rem;
    display: inline-block;
}

input {
    outline: 0;
    border: none;
}

label {
    text-align: left;
}

#user, #password {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 5vh;
}

#submit {
    background-color: lightgreen;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 2px solid black;
}
