* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
}

html {
    height: 100%;
    font-size: 1.5rem;
}

body {
    height: 100%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2vh;
}

.tableLabels > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.tableLabels li {
    font-size: 1.5rem;
}

.questionRows {
    border: 5px solid black;
    padding: 0.75vw 0.5vw 0.5vw 0.5vw;
}

.row > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element {
    background-color: white;
    width: calc(33% - 15px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;  
    min-width: 400px;
    text-align: center;
    border: 1px solid black;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

.checkBox {
    margin-top: 1.5rem;
    width: 2vw;
    height: 2vh;
}
