@import "../include/leftSide.css";

.studentLanding {
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    height: 80%;
    left: 0;
    right: 0;
    z-index: 2;
    top: 20%;
}

.studentLanding h2 {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 8vh;
    text-align: center;
}

.buttons {
    width: 40%;
    height: 4vh;
    background-color: rgb(26, 235, 182);
    border: none;
    font-size: 1.25rem;
    font-weight: 300;
}

.form-buttons {
    display: flex;
    min-width: 150px;
}

#takeExam {
    position: absolute;
    left: 0;
}

#reviewExam {
    position: absolute;
    right: 0;
}